
<!doctype html>
<html lang="tr">
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
        @RenderBody()
        @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")
    </div>
    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
</body>
</html>